:root {
  /* 主题 */
  --theme-bg: #333333;
  --theme-color: #ccc;
}

.page {
  height: 100vh;
  position: relative;
  z-index: 0;
}

/* header */
.header * {
  color: var(--theme-color);
  font-size: 26px;
}
.header {
  width: 100vw;
  height: 0.45rem;
  background-color: var(--theme-bg);
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
}
.header_left,
.header_right,
.header_logo {
  text-align: center;
  line-height: 0.45rem;
}
.header_left,
.header_right {
  width: 0.45rem;
}
.header_logo {
  flex: 1;
  align-items: center;
}
.logo {
  height: 0.22rem;
  margin-top: 0.11rem;
}
.header_login {
  width: 0.26rem;
  margin-top: 0.09rem;
}

.useractive::before {
  color: cornflowerblue;
}
/* menu */
.menu {
  position: absolute;
  background-color: antiquewhite;
  height: 100vh;
  width: 1.4rem;
  top: 0;
  background-image: url("../images/menu.png");
  z-index: -1;
}

.menu nav {
  padding: 0.45rem 0.2rem 0;
}
.menu_item {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.12rem !important;
  line-height: 0.26rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.menu_item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.menu_item i {
  padding: 0 4px;
}
.selected {
  color: #fff;
}

/* main */
.main_wrap {
  height: 100vh;
  overflow: hidden;
  background-color: #f4fbfe;
  z-index: 0;
  transition: transform 0.5s;
}

.main_wrap_1 {
  padding-top: 0.45rem;
  box-sizing: border-box;
  position: relative;
}
.main_wrap_2 {
  height: 100%;
}
.main_content {
  height: 100%;
}

.logout {
  width: 0.45rem;
  height: 0.45rem;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0.45rem;
  background-color: var(--theme-bg);
  display: none;
}
.logout > span {
  font-size: 16px;
  line-height: 0.45rem;
}

.page_alert_wrap {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  font: 0.15rem/0.2rem pingfang;
}
.page_alert_main {
  width: 70vw;
  height: 30vh;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.page_alert_header {
  display: flex;
  justify-content: space-between;
  background-color: salmon;
  line-height: 0.24rem;
}
.page_alert_title {
  flex: 1;
  padding-left: 0.1rem;
  background-color: wheat;
}
.page_alert_close {
  padding: 0 0.1rem;
  background-color: palevioletred;
}
.page_alert_content {
  margin-top: 0.4rem;
  padding: 0 0.2rem;
}
